<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main_layout}"
      xmlns:i="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error!!</title>
</head>
<body>
<div layout:fragment="main" th:width="400" align="center">
    <br/><br/><br/><br/>
    <h1><font color="red"> Something must have gone wrong.</font></h1><br/>
    <h2>We are sorry for that<br/>
        <a href="/">Go Home</a>
    </h2>
</div>
</body>
</html>