<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main_layout}">
<head>
    <title>Product</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bajar Gebeya template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap-4.1.2/bootstrap.min.css"
          th:href="@{/styles/bootstrap-4.1.2/bootstrap.min.css}">
    <link href="../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
          th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/plugins/flexslider/flexslider.css"
          th:href="@{/plugins/flexslider/flexslider.css}">
    <link rel="stylesheet" type="text/css" href="../static/styles/product.css" th:href="@{/styles/product.css}">
    <link rel="stylesheet" type="text/css" href="../static/styles/product_responsive.css"
          th:href="@{/styles/product_responsive.css}">
</head>
<body>

<div layout:fragment="main">
    <!-- Home -->

    <div class="home">
        <div class="home_container d-flex flex-column align-items-center justify-content-end">
            <div class="home_content text-center">
                <div class="home_title">Product Page</div>
                <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                    <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                        <li><a href="#">Home</a></li>
                        <li><a href="category.html">Woman</a></li>
                        <li>Product Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Product -->

    <div class="product">
        <div class="container">
            <div class="row">

                <!-- Product Image -->
                <div class="col-lg-6">
                    <div class="product_image_slider_container">
                        <div id="slider" class="flexslider" th:each="pic : ${pictures}">
                            <img th:width="400px" th:height="650px" th:src="@{'/images/' + ${pic.fileName}}"/>
                        </div>
                    </div>
                </div>

                <!-- Product Info -->
                <div class="col-lg-6 product_col">
                    <div class="product_info">
                        <div class="product_name" th:text="${product.name}">Cool Clothing with Brown Stripes</div>
                        <div class="product_category">In Category: <span th:each="category : ${product.categories}"
                                                                         th:text="${category.name}">Category</span>
                        </div>
                        <!--                        <div class="product_rating_container d-flex flex-row align-items-center justify-content-start">-->
                        <!--                            <div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>-->
                        <!--                        </div>-->
                        <div class="product_price" th:text="${'$'+product.unitPrice}">$3<span>.99</span></div>
                        <div class="product_size">
                            <div class="product_size_title">Unit</div>
                            <p th:text="${product.unit}">XS</p>
                        </div>
                        <div class="product_size">
                            <div class="product_size_title">Stock</div>
                            <p th:text="${product.stock}">0</p>
                        </div>
                        <div class="product_size">
                            <div class="product_size_title">Seller</div>
                            <p th:text="${product.seller}">N/A</p>
                            <a class="btn btn-warning"
                               th:href="@{/users/{id}(id=${product.seller})}" href="#">Follow</a>
                        </div>
                        <div class="product_size">
                            <div class="product_size_title">Review</div>
                            <p th:text="${product.description}">N/A</p>
                        </div>
                        <div class="product_buttons">
                            <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div><img src="../static/images/cart.svg" th:src="@{/images/cart.svg}"
                                                  class="svg" alt="">
                                            <div>+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="product_name">Customer Reviews:</h2>
            <button type="button" class="btn button button_continue trans_200" data-toggle="modal"
                    data-target="#addReviewModal">Add Review
            </button>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div th:each="review : ${reviews}">
                    <div class="product_size">
                        <div class="product_size_title">Buyer</div>
                        <p th:text="${review.buyer}">N/A</p>
                    </div>
                    <div class="product_size">
                        <div class="product_size_title">Rating</div>
                        <div class="product_rating_container d-flex flex-row align-items-center justify-content-start">
                            <div th:class="${'rating_r rating_r_' + review.rating +' product_rating'}" class="#"><i></i><i></i><i></i><i></i><i></i>
                            </div>
                        </div>
                    </div>
                    <div class="product_text">
                        <p th:text="${review.description}">N/A</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="addReviewModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="#" method="post" th:action="@{/products/{id}/reviews/add(id=${product.id})}"
                      th:object="${review}"
                      enctype="multipart/form-data">
                    <input type="hidden" th:field="*{product.id}" th:value="${product.id}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <h2 class="footer_about_text">Add Review</h2>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" type="text" id="description" th:field="*{description}"
                                      placeholder="Description"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="rating">Rate:</label>
                            <select class="form-control" id="rating" th:field="*{rating}">
                                <option th:value="5">5</option>
                                <option th:value="4">4</option>
                                <option th:value="3">3</option>
                                <option th:value="2">2</option>
                                <option th:value="1">1</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" class="btn button button_continue trans_200" id="add_review"
                                   value="Save"
                                   data-="modal">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Boxes -->

<!--<div class="boxes">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6">-->
<!--                <div class="box d-flex flex-row align-items-center justify-content-start">-->
<!--                    <div class="mt-auto">-->
<!--                        <div class="box_image"><img src="../static/images/boxes_1.png"-->
<!--                                                    th:src="@{/images/boxes_1.png}" alt=""></div>-->
<!--                    </div>-->
<!--                    <div class="box_content">-->
<!--                        <div class="box_title">Size Guide</div>-->
<!--                        <div class="box_text">Phasellus sit amet nunc eros sed nec tellus.</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 box_col">-->
<!--                <div class="box d-flex flex-row align-items-center justify-content-start">-->
<!--                    <div class="mt-auto">-->
<!--                        <div class="box_image"><img src="../static/images/boxes_2.png"-->
<!--                                                    th:src="@{/images/boxes_2.png}" alt=""></div>-->
<!--                    </div>-->
<!--                    <div class="box_content">-->
<!--                        <div class="box_title">Shipping</div>-->
<!--                        <div class="box_text">Phasellus sit amet nunc eros sed nec tellus.</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</div>

<script type="text/javascript">
    function form_submit() {
        document.getElementById("add_review").submit();
    }
</script>

<script src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="../static/styles/bootstrap-4.1.2/popper.js" th:src="@{/styles/bootstrap-4.1.2/popper.js}"></script>
<script src="../static/styles/bootstrap-4.1.2/bootstrap.min.js"
        th:src="@{/styles/bootstrap-4.1.2/bootstrap.min.js}"></script>
<script src="../static/plugins/greensock/TweenMax.min.js" th:src="@{/plugins/greensock/TweenMax.min.js}"></script>
<script src="../static/plugins/greensock/TimelineMax.min.js" th:src="@{/plugins/greensock/TimelineMax.min.js}"></script>
<script src="../static/plugins/scrollmagic/ScrollMagic.min.js"
        th:src="@{/plugins/scrollmagic/ScrollMagic.min.js}"></script>
<script src="../static/plugins/greensock/animation.gsap.min.js"
        th:src="@{/plugins/greensock/animation.gsap.min.js}"></script>
<script src="../static/plugins/greensock/ScrollToPlugin.min.js"
        th:src="@{/plugins/greensock/ScrollToPlugin.min.js}"></script>
<script src="../static/plugins/OwlCarousel2-2.2.1/owl.carousel.js"
        th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script src="../static/plugins/easing/easing.js" th:src="@{/plugins/easing/easing.js}"></script>
<script src="../static/plugins/progressbar/progressbar.min.js"
        th:src="@{/plugins/progressbar/progressbar.min.js}"></script>
<script src="../static/plugins/parallax-js-master/parallax.min.js"
        th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script src="../static/plugins/flexslider/jquery.flexslider-min.js"
        th:src="@{/plugins/flexslider/jquery.flexslider-min.js}"></script>
<script src="../static/js/product.js" th:src="@{/js/product.js}"></script>
</body>
</html>