@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Table View


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face
{
    font-family: 'Futura';
    src: url('../fonts/FuturaLT-Book.ttf')  format('truetype');
}

/*********************************
2. Table View
*********************************/
.dashboard {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    alignment: center;
    width: 90%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.checked{
    color:orange;
}